version: "3.7"
services:
  database:
    image: "mongo:latest"
    container_name: "mongo-db-container"
    environment:
      MONGO_INITDB_DATABASE: quiz_manager
      MONGO_INITDB_ROOT_USERNAME: admin
      MONGO_INITDB_ROOT_PASSWORD: password
    volumes:
      - ./init-mongo.js:/docker-entrypoint-initdb.d/init-mongo.js:ro
    ports:
      - 28017:27017
