* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.nav-bar {
    position: relative;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -ms-flex-align: center;
    align-items: center;
    -ms-flex-pack: justify;
    justify-content: space-between;
    padding: .5rem 1rem;
    background-color: #077e9c;
    border-bottom: solid black 1px;
}

.nav-link {
    color: white;
    cursor: pointer;
}

.navbar-title {
    font-size: 19.3px;
}

.text__intro {
    margin: 15px;
    text-align: center;
}

.quiz-names-table {
    margin: 0 auto;
    text-align: center;
    margin-top: 30px;
}

.button {
    margin: 15px 15px 15px 5px
}

.input-box {
    margin: 5px;
}

.form-container {
    margin: 30px;
}

.q-and-a-table {
    margin: 0 auto;
    text-align: center;
    margin-top: 20px;
}

.q-and-a-table__data__hidden {
    visibility: hidden;
}

.q-and-a-table__button {
    background: none;
    padding: 3px;
}

.q-and-a-table__header {
    text-align: center;
    margin-top:  15px;
}