* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.nav-bar {
    position: relative;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -ms-flex-align: center;
    align-items: center;
    -ms-flex-pack: justify;
    justify-content: space-between;
    padding: .5rem 1rem;
    background-color: #077e9c;
    border-bottom: solid black 1px;
}

.navlink {
    font-size: 23px;
    color: white;
    cursor: pointer;
    padding: 3px
}